# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

builds-*
.cache/
.pip/
.venv/
.wheelhouse/
.eggs/
.idea/
build/
dist/
*.db
*.egg-info/
*.egg/
simple_scheduler/static/.DS_Store
.gitignore
